@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ff6600;
  --color-background-light: #f8f7f5;
  --color-background-dark: #020617;

  --font-display: "Inter", "Public Sans", sans-serif;
  --font-sans: "Inter", "Public Sans", sans-serif;
}

@layer utilities {
  .active-nav {
    background-color: rgba(255, 102, 0, 0.1);
    color: #ff6600;
  }

  /* Hide scrollbars but keep functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  .skeleton-shimmer {
    position: relative;
    overflow: hidden;
  }

  .skeleton-shimmer::after {
    position: absolute;
    inset: 0;
    content: '';
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: shimmer 1.5s infinite;
  }
}

:root {
  --background: var(--color-background-light);
  --foreground: #0f172a;
  /* slate-900 */
}

.dark {
  --background: var(--color-background-dark);
  --foreground: #f1f5f9;
  /* slate-100 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}